{% extends 'base.html.twig' %}

{% block body %}
    <div class="loader" style="display: none"></div>
    <div id="details" class="col-sm-3">



        {#  {% include 'users/user_details.html.twig' %} #}
        {# {{ 
          render (controller(
          'AppBundle:Users:user',
          {'id' : '1' }))
        }} #}
    </div>    

    <div class="col-sm-9">
        {% include 'users/users.html.twig' %}
    </div>    




{% endblock %}