
<!-- app/Resources/views/users/user.html.twig -->
<a href="javascript:void(0);" id="user_detail_link" onclick="getDetails(event,{{ user.id }})" >{{ user.website }}</a>
<br />
<span class="small">{{ user.name }}</span>
<span class="pull-right">
    {{ user.address.city }} <i class="glyphicon glyphicon-star"></i>
</span>
