<div class="row">
    <div class="col-sm-12">

        <div class="well">

            
            <div class="pull-right">
                <span class="label label-primary">Repositories:</span>
                <span class="label label-success">Most Stars: </span>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">List of users :</h3>
            </div>

            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item">{% include 'users/user.html.twig' %}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>